{% extends 'base.html.twig' %}

{% block title %}Ateliers{% endblock %}

{% block body %}

<div id="oneAtelier">
  {% if app.user %}
        {% else %}
            <div style="float: right;">
                <a href="{{ path('app_login') }}" class="btn btn_one register-button">Login</a>
                <a href="{{ path('app_register') }}" class="btn btn_one register-button">Register</a>
            </div>
  {% endif %}
  <br>
  <br>
  <br>
    <h3 class="sub_title">Ateliers</h3>
    <br>
    <div class="accordion" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ atelier.id }}" aria-expanded="false" aria-controls="collapse{{ atelier.id }}">
                    Atelier n° {{ atelier.id }}
                </button>
            </h2>

            <!-- Add the "Register" button here -->
            <div class="accordion-body">
                Nom de l'atelier :<strong> {{ atelier.nom }}.</strong><br>
                Nom de la salle :<strong> {{ atelier.salle }}</strong><br>
                Nom du secteur :<strong> {{ atelier.secteur }}</strong><br>

                <!-- Register button with a data attribute to store atelier ID -->
                {% if app.user and 'ROLE_USER' in app.user.getRoles() and app.user.getRoles()|length == 1 %}
                    <a href="{{ path('inscription_atelier', {'id': atelier.id}) }}" class="btn_one register-button">S'inscrire à cet atelier</a>
                {% elseif not app.user %}
                    <p>Connectez-vous pour vous inscrire à cet atelier</p>
                {% endif %}

            </div>
        </div>
    </div>

</div>
{% endblock %}